body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('bk.jpg');
    background-size: cover;
    background-position: center center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left img {
    max-width: 100%;
    height: auto;
  }
  
  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 20px;
    text-align: center;
    width: 80vw;
    border-radius: 20px;
  }
  
  .icon {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  @media  screen and (max-width: 768px) {
    .title{
        font-size: 1.5rem;
    }
  }
    
  
  .subtitle {
    font-size: 1.2rem;
    color: grey;
    margin-bottom: 20px;
  }
  
  #player-count {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0066ff;
  }